@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: ysbth;
    src: url('fonts/youshebiaotihei.ttf');
}
@media screen and (orientation:portrait){
     body{
           transform: rotate(90deg);
     }
}
.text1{
	text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
	font-family: ysbth;
	color: orange;

	font-size: 300%;
	opacity:0;
	top: 100px;
	left: 100px;
	position: absolute;
	animation: textFadeIn 5s;
	animation-delay:2s;
}

@keyframes textFadeIn {
	0% { opacity:0}
	20% { opacity:1}
	80% { opacity:1}
	100% { opacity:0}
}

.text2{
	text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
	font-family: ysbth;
	color: orange;

	font-size: 300%;
	opacity:0;
	top: 100px;
	left: 100px;
	position: absolute;
	animation: textFadeIn 5s;
	animation-delay:8s;
}

.text3{
	text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
		font-family: ysbth;
	color: orange;

	font-size: 300%;
	opacity:0;
	top: 100px;
	left: 100px;
	position: absolute;
	animation: textFadeIn 5s;
	animation-delay:14s;
}
