@charset "utf-8";
/* CSS Document */
@media screen and (orientation:portrait){
     body{
           transform: rotate(90deg);
     }
}
@font-face {
	font-family: ysbth;
    src: url('fonts/youshebiaotihei.ttf');
}
div.all{
	margin: auto;
}
.text1{
	text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
	font-family: ysbth;
	color: orange;
	max-width:1300px;
	font-size: 300%;
	opacity:0;
	top: 100px;
	left: 200px;
	position: absolute;
	animation: textFadeIn 5s;
	animation-delay:1s;
}

@keyframes textFadeIn {
	0% { opacity:0}
	20% { opacity:1}
	80% { opacity:1}
	100% { opacity:0}
}

.text2{
	text-shadow: #fff 1px 0 0, #fff 0 1px 0, #fff -1px 0 0, #fff 0 -1px 0;
	font-family: ysbth;
	color: orange;
	max-width:1300px;
	font-size: 300%;
	opacity:0;
	top: 100px;
	left: 200px;
	position: absolute;
	animation: textFadeIn 5s;
	animation-delay:6s;
}

img.bg{
	animation: blur 5s;
	filter: blur(10px);
}

@keyframes blur {
	0% {filter: blur(0px);}
	100% {filter: blur(10px);}
}
