@charset "utf-8";
/* CSS Document */

div.BG {
	z-index: -1;
}

a.link1 {
	text-align:center;
	position: absolute;
	top: 100px;
	left: 300px;
  width: 0px;
  height: 50px;
  animation: fadein2 5s ;
}

a.link1:hover{
	transform: scale(1.2);
}

@keyframes fadein2 {
	0% { opacity:0; }
	25% { opacity:0; }
	100% { opacity:1; }
}

a.link2 {
	text-align:center;
	position: absolute;
	top: 100px;
	left: 1244px;
  width: 0px;
  height: 50px;
  animation: fadein2 5s ;
}

a.link2:hover{
	transform: scale(1.2);
}

a.link1b {
	text-align:center;
	position: absolute;
	top: 550px;
	left: 100px;
  width: 0px;
  height: 50px;
  animation: fadein2 5s ;
}

a.link1b:hover{
	transform: scale(1.2);
}

a.link2b {
	text-align:center;
	position: absolute;
	top: 550px;
	left: 1120px;
  width: 0px;
  height: 50px;
  animation: fadein2 5s ;
}

a.link2b:hover{
	transform: scale(1.2);
}

div.list{
	text-align:center;
	position: absolute;
	top: 900px;
	left: 531px;
  width: 0px;
  height: 50px;
  animation: fadein2 5s ;
}